@import "_common";


header{
    width: 100%;
    position: fixed;
    top: 0; right: 0;
    z-index: 500;
    padding: 20px;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            img{
                width: 110px;
                height: 27.5px;
                }
        }
        div{
            .burger{
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                width: 30px; height: 21px;
                position: relative;
                span{
                    width: 25px;
                    height: 2px;
                    background-color: rgb(255, 255, 255);
                    margin-bottom: 5px;
                    display: block;
                    text-align: right;
                    z-index: 999;

                    // width: 100%;
                    position: absolute;
                    left: 0;

                    &:nth-of-type(1){
                        top: 0%;
                        width: 30px;
                        background-color: rgb(255, 255, 255);
                    }
                    &:nth-of-type(2){
                        top: 30%;
                        transform: translateY(50%);
                        background-color: rgb(255, 255, 255);
                    }
                    &:nth-of-type(3){
                        bottom: 0%;
                        width: 30px;
                        background-color: rgb(255, 255, 255);
                    }
                }
            }
            &:hover > span:nth-child(1){
                top:40%;
                transform: translateY(-50%) rotate(45deg);
            }
            &:hover > span:nth-child(2){
                transform: translateX(100%);
                opacity: 0;
                transition: 1s;
            }
            &:hover > span:nth-child(3){
                bottom:40%;
                transform: translateY(50%) rotate(-45deg);
            }
        }
    }
    &.active{
        background-color: rgb(255, 255, 255);
        span{
            background-color: #000 !important;
            z-index: 999;
        }
        &:hover > span:nth-child(1){
            top:40%;
            transform: translateY(-50%) rotate(45deg);
        }
        &:hover > span:nth-child(2){
            transform: translateX(100%);
            opacity: 0;
            transition: 1s;
        }
        &:hover > span:nth-child(3){
            bottom:40%;
            transform: translateY(50%) rotate(-45deg);
        }
    }
}

// burger menu
.menu{
    background-color: #fff;
    padding-top: 20%;
    font-size: 24px;
    padding-left: 6%;
    height: 100vh;

    display: none;

    &.active{
        display: block;
        position: fixed;
        left: 0; top: 0;
        background-color: #fff;
        width: 100%;
        // height: 0%;
        z-index: 9999;
        // background-attachment: scroll;
        animation: ani-6 1s linear forwards;

        height: 100%;
        overflow: auto;
    }
    @keyframes ani-6 {
        0%{
            transform: translateY(100%);
            border-radius: 100%;
        }
        50%{
            transform: translateY(30%);
            border-radius: 50%;
        }
        100%{
            transform: translateY(0%);
            border-radius: 0%;
        }
    }
    a{
        color: #000;
        font-weight: 800;
        display: block;
        margin-bottom: 5%;
    }
    ul{
        li{
            a{
                color: rgb(136, 136, 136);
            }
            &:nth-of-type(4){
                font-size: 20px;
            }
            &:nth-of-type(5){
                font-size: 20px;
            }
        }
    }
    div{
        margin: 10% 0 20%;
        font-size: 14px;
        white-space: pre-line;
        p{
            line-height: 1.8rem;
            span{
                color: rgb(136, 136, 136);
            }
            &:nth-child(2){
                span{
                    font-size: 10px;
                }
            }
        }
        a{
            color: rgb(136, 136, 136);
        }
    }
}

// section1
main > div{overflow:hidden;}

main .section1{
    height: 90vh;
    padding: 0; margin: 0;
    overflow:hidden;
    position: relative;
    .video{
        overflow: hidden;
        video{
            width: auto;
            height: 100vh;
            transform: translateX(-100px);
        }
    }
    .s1-c1{
        width: 100%;
        position: absolute;
        left: 0; bottom: 8%;
        margin-left: 2%;
        word-break: keep-all;
        div{
            padding:5%;
            h2{
                color: rgb(255, 255, 255);
                font-size: 1.5rem;
                white-space: pre-line;
                margin: 4% 0;
            }
            p{
                color: #ddd;
                font-size: 0.8rem;
                font-weight: 600;
            }
        }
    }
    .arrow{
        position: absolute;
        left: 0; bottom: 3%;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 1rem;
        margin-left: 20px;
        .dot{
            a{
                display: inline-block;
                width: 5.5px;
                height: 5.5px;
                background-color: #ddd;
                border-radius: 100%;
                z-index: 99;
                margin: 0 0.5rem;
            }
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -12%;
            margin-right: 10%;
            .triangle1{
                display: inline-block;
                border-style: solid;
                border-color: transparent #ddd transparent transparent ;
                border-width: 7px 11px 7px 0;
                margin-right:170%;
            }
            .triangle2{
                display: inline-block;
                border-style: solid;
                border-color: transparent transparent transparent #ddd;
                border-width: 7px 0 7px 11px;
            }   
        }
    }
}

//   animation   //
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:0;}
    100% {opacity:1;}
}
@keyframes slidein {
    0% { margin-left:0px; 
        opacity: 0.1;}
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; opacity: 1;}
}
@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
@keyframes shine {
    0% {
    transform: translateY(-100%);
    opacity: 0;
    }
    100% {
    transform: translateY(0%);
    opacity: 1;
    }
}
@keyframes ani-2 {
    0%{
        height: 135%;
    }
    100%{
        height: 100%;
    }
}
@keyframes ani-3 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-35%);
    }
}
@keyframes ani-4 {
    0%{
        height: 100%;
        width: 100%;
    }
    100%{
        height: 70%;
        width: 100%;
    }
}
@keyframes ani-5 {
    0%{
        height: 120%;
    }
    100%{
        height: 100%;
    }
}

// section2
main .section2{
    .s2-c1{
        padding: 12% 5% 0;
        overflow: hidden;
        p:nth-of-type(1){ 
            font-size: 1.9rem;
            font-weight: 800;
            line-height: 2.5rem;
            padding:5% 0;
            &.active{
                animation: slidein 2s forwards;
            }
        }
        p:nth-of-type(2){ 
            font-size: 0.9rem;
            line-height: 1.7rem;
            margin-bottom: 10%;
            &.active{
                animation: slidein 2s forwards;
            }
        }
        a{
            font-size: 0.8rem;
            font-weight: 600;
            display: inline-block;
            border: 1px solid #000;
            padding: 3% 8%;
        }
    }
    .s2-c2{
        padding: 12% 5% 0;
        h2{padding: 10% 0 5%;}
        ul{
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            margin: -1.5%;
            li{
                position: relative;
                flex: 1 1 40%;
                padding: 1.5%;
                a{
                    height: 100%;
                    display: inline-block;
                    &.active{
                        animation: ani-2 1.5s forwards;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                p{
                    position: absolute;
                    left: 12%; bottom: 15%;
                    color: rgb(255, 255, 255);
                    font-weight: 600;
                    font-size: 1.2rem;
                    white-space: pre-line;
                    z-index: 99;
                    &.active{
                        animation: ani-3 1.5s forwards;
                    }
                }
            }
        }
    }
    .s2-c3{
        h2{padding: 15% 5% 5%;}
        ul{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            li:nth-child(odd){
                padding-right: 20px;
                padding-left: 8px;
            }
            li:nth-child(even){
                padding-left: 20px;
                padding-right: 8px;
            }
            li:nth-child(1){
                padding: 0 20px;
            }
            li:not(:nth-child(1)){
                width:50%;
                img{
                    width: 98%;
                    height:8rem;
                }
            }
            li{
                margin-bottom: 2em;
                a{
                    img{
                        width: 100%;
                        height: 15rem;
                    }
                    div{
                        padding-top:5%;
                        b{
                            display: inline-block;
                            margin: 0.8rem 0;
                            font-size: 1.2rem;
                            font-weight: 1000;
                        }
                        p{
                            white-space:pre-line;
                            color: rgb(85, 85, 85);
                            line-height: 1.5rem;
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}

// section3
main .section3{
    margin-top: 5%;
    position: relative;
    video{
        width: auto;
        height: 65vh;
    }
    .s3-bg{
        padding: 15% 0;
        color: #fff;
        position: absolute;
        left: 0; top: 0;
        &.active{
            animation: shine 1s forwards;
        }
        div{
            padding-left: 5%;
            b{
                font-size: 1.9rem;
                font-weight: 1000;
                white-space: pre-line;
                display: inline-block;
                padding:5% 0 15%;
            }
        }
        ul{
            width: 100%;
            display: flex;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
            li{
                max-width: 33.3333%;
                padding: 0 6%;
                text-align: left;
                margin-bottom: 5%;
                img{
                    width: 100%;
                    margin-bottom: 1.3rem;
                }
                p{
                    font-size: 0.7rem;
                    color: rgb(204, 204, 204);
                    margin-bottom: 1.3rem;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}

// section4
main .section4{
    padding: 20% 5% 0;
    .s4-c1{
        .s4-c1-t1{
            p{
                font-size: 1.9rem;
                font-weight: 1000;
                padding: 2% 0 10%;
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            li:nth-child(even){
                padding-left: 2%;
            }
            li:nth-child(odd){
                padding-right: 2%;
            }
            li{
                width: 50%; 
                margin-bottom: 10%;
                a{
                    &.active{
                        animation: ani-4 2s forwards;
                    }
                    display: inline-block;
                    img{
                        width: 100%; 
                        height: 100%;
                    }
                    .s4-c1-t2{
                        b{
                            display: inline-block;
                            font-size: 1rem;
                            white-space: pre-line;
                            font-weight: 800;
                            margin: 8% 0;
                        }
                        p{
                            font-size: 0.5rem;
                        }
                    }
                }
            }
        }
    }
    .s4-c2{
        h2{padding: 5% 0;}
        div{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            a:nth-child(1){
                margin-right: 5px;
            }
            a{
                display: inline-block;
                // flex-shrink: 0;
                width: 50%;
                text-align: left;
                animation: ani-5 1s forwards;
                p{img{width: 90%;}}
                div{
                    display: flex;
                    flex-direction: column;
                    b{
                        font-size: 1rem;
                        font-weight: 1000;
                        word-break: break-all;
                        padding: 20px 0 10px;
                    }
                    p{
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}

// secrion5
main .section5{
    padding-top: 20%;
    a:nth-of-type(1){
        background-image:url(../img/banner01.png);
    }
    a:nth-of-type(2){
        background-image:url(../img/banner02.png);
    }
    a{
        display: flex;
        flex-wrap: wrap;
        display: inline-block;
        width: 100%;
        padding: 14% 0;
        background-position: 50%;
        div{
            // position: absolute;
            // left: 5%; top: 50%;
            transform: translateX(5%);
            color:#fff;
            &.active{
                animation: slidein 3s forwards;
            }

            h2{
                font-size: 1rem;
                color: rgba(224, 224, 224, 0.6);
                animation: shine 2s forwards;

            }
            p:nth-of-type(1){
                font-size: 1.5rem;
                color: rgb(238, 236, 230);
                padding: 2% 0 8%;
                animation: shine 5s forwards;

            }
            p:nth-of-type(2){
                color: rgb(255, 255, 255);
            }
        }
    }
}

// footer
footer{
    background-color: #000;
    color: #fff;
    padding: 8% 5% 5%;
    h1{
        font-size: 1.6rem;
        padding-bottom: 5%;
    }
    div{
        display: flex;
        font-size: .8rem;
        line-height: 1.9rem;
        ul:nth-child(1){
            color: rgb(136, 136, 136);
            padding-right: 5%;
        }
        ul:nth-child(2){
            color: rgb(204, 204, 204);
        }
    }
    a{
        display: inline-block;
        border: 1px solid #fff;
        color: #fff;
        padding: 10px 40px;
        font-size: .5rem;
        font-weight: 800;
        margin: 10% 0 8%;
    }
    div:nth-of-type(2)::before{
        content: '';
        display: block;
        border-bottom: 1px solid rgba(204, 204, 204, .6);
        width: 100%;    
        position: absolute;
        top: -15%;
    }
    div:nth-of-type(2){
        margin:10% 0;
        padding-top: 10%;
        position: relative;
        width: 100%;
        p{
            img{
                width: 40%
            }
        }
        div{
            a{
                border:none;
                padding: 0 30%;
            }
        }
    }
    p{
        font-size: .8rem;
        color: rgb(204, 204, 204)
    }
}



@import "_media";